(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"De-cy",
"Ie-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Ka-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Hardsign-cy",
"Yeru-cy",
"Softsign-cy",
"Ereversed-cy",
"Yu-cy",
"Ya-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"de-cy",
"ie-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"ka-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"hardsign-cy",
"yeru-cy",
"softsign-cy",
"ereversed-cy",
"yu-cy",
"ya-cy",
"brevecomb-cy",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
period,
comma,
colon,
semicolon,
exclam,
question,
hyphen,
quotedbl,
quotesingle,
dieresiscomb,
)