{
.appVersion = "4004";
.formatVersion = 3;
axes = (
{
name = "Optical size";
tag = opsz;
}
);
customParameters = (
{
name = vendorID;
value = "HL  ";
},
{
name = panose;
value = (
2,
1,
5,
1,
1,
1,
1,
1,
1,
1
);
},
{
name = unicodeRanges;
value = (
0,
1,
2,
3,
31,
33,
35
);
},
{
name = "Enforce Compatibility Check";
value = 0;
}
);
date = "2013-05-13 12:24:02 +0000";
familyName = Wormtown9k;
fontMaster = (
{
axesValues = (
7
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = a;
}
);
id = m01;
metricValues = (
{
pos = 2816;
},
{
pos = 1792;
},
{
pos = 1280;
},
{
},
{
pos = -512;
}
);
name = 11px7pt;
stemValues = (
256,
256
);
userData = {
GSSlanterCursivy = 0;
GSSlanterCursivyContrastFactor = 0.5;
GSSlanterCursivyDoContrast = 0;
GSSlanterCursivyDoShape = 0;
GSSlanterCursivyDoThickness = 0;
GSSlanterCursivyShapeFactor = 0.5;
GSSlanterCursivyThicknessFactor = 1;
GSSlanterGeometric = 0;
GSSlanterRotate = 0;
};
},
{
axesValues = (
4
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = a;
}
);
id = "7B855419-E546-45F5-B139-32C935E0014B";
metricValues = (
{
pos = 2048;
},
{
pos = 1280;
},
{
pos = 768;
},
{
},
{
pos = -512;
}
);
name = 8px4pt;
stemValues = (
256,
256
);
}
);
instances = (
{
name = Size;
type = particles;
userData = {
com.glyphsapp.NameParticles = {
opsz = (
{
internal = 7;
name = 11px7pt;
},
{
internal = 4;
name = 8px4pt;
}
);
};
};
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "© 2009, 2010, 2011, 2012, 2013 Grand Chaos Productions. Some Rights Reserved.";
}
);
},
{
key = descriptions;
values = (
{
language = ENG;
value = "This font was created using FontCreator 5.6 from High-Logic.com";
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Jayvee D. Enaguas (Grand Chaos)";
}
);
},
{
key = designerURL;
value = "http://grandchaos9000.deviantart.com/";
},
{
key = licenseURL;
value = "http://creativecommons.org/licenses/by-sa/3.0/";
}
);
settings = {
disablesNiceNames = 1;
gridLength = 256;
gridSubDivision = 2;
};
stems = (
{
name = Horizontal;
},
{
horizontal = 1;
name = Vertical;
}
);
unitsPerEm = 2048;
versionMajor = 1;
versionMinor = 0;
}
